<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>交易列表</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>交易列表</h5>
        </div>
        <div class="ibox-content">
            <div class="form-group clearfix col-sm-1">
                <!--{if authCheck('Account/articleadd')}-->
                <!--<a href="{:url('news/articleadd')}">-->
                <!--<button class="btn btn-outline btn-primary" type="button">添加会员</button>-->
                <!--</a>-->
                <!--{/if}-->
            </div>
            <!--搜索框开始-->
            <form id='commentForm' role="form" method="post" class="form-inline pull-right">
                <div class="content clearfix m-b">
                    <div class="form-group">
                        <label>账户类型：</label>
                        <select class="form-control" name="account_type" id="account_type">
                            <option value="">全部</option>
                            <option value="eth">eth</option>
                            <option value="wuc">其他</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>address：</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                    <div class="form-group">
                        <label>txid：</label>
                        <input type="text" class="form-control" id="tx_hash" name="tx_hash">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="button" style="margin-top:5px" id="search"><strong>搜
                            索</strong>
                        </button>
                    </div>
                </div>
            </form>
            <!--搜索框结束-->

            <div class="example-wrap">
                <div class="example">
                    <table id="cusTable">
                        <thead>
                        <th data-field="id">ID</th>
                        <th data-field="tx_hash">txid</th>
                        <th data-field="from_address">发起地址</th>
                        <th data-field="to_address">接收地址</th>
                        <th data-field="token_address">token地址</th>
                        <th data-field="amount">数量</th>
                        <th data-field="c_time">添加时间</th>
                        <th data-field="block_number">区块号</th>
                        <th data-field="block_hash">区块哈希</th>
                        <th data-field="tx_receipt_status">交易状态</th>
                        <th data-field="tx_receipt_time">交易完成时间</th>
                        <th data-field="biz_type">业务类型</th>
                        <th data-field="sys_fee">系统手续费</th>
                        <th data-field="dabi_status">打币状态</th>
                        <th data-field="dabi_message">打币消息</th>
                        <th data-field="operate">操作</th>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->
<!-- 添加节点 -->
<div class="ibox-content" id="node_box" style="display: none">
    <form class="form-horizontal m-t" method="post" action="{:url('Coin/manual')}" id="addForm">
        <input type="hidden" class="form-control" value="0" name="type_id" id="pid">
        <div class="form-group">
            <label class="col-sm-3 control-label">txid：</label>
            <div class="input-group col-sm-7">
                <input id="id" name="id" type="hidden">
                <input id="txid" type="text" class="form-control" name="txid" required="" aria-required="true">
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
                <button class="btn btn-primary" type="submit">提交</button>
            </div>
        </div>
    </form>
</div>
<!-- 添加节点 -->
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="__JS__/plugins/layer/laydate/laydate.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script src="__JS__/layui/layui.js"></script>
<script src="__JS__/jquery.form.js"></script>

<script type="text/javascript">
    function initTable() {
        //先销毁表格
        $('#cusTable').bootstrapTable('destroy');
        //初始化表格,动态从服务器加载数据
        $("#cusTable").bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: "{:url('Coin/index')}", //获取数据的地址
            striped: true,  //表格显示条纹
            pagination: true, //启动分页
            pageSize: 10,  //每页显示的记录数
            pageNumber: 1, //当前第几页
            pageList: [5, 10, 15, 20, 25],  //记录数可选列表
            sidePagination: "server", //表示服务端请求
            paginationFirstText: "首页",
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            paginationLastText: "尾页",
            queryParamsType: "undefined",
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    searchText: $('#title').val(),
                    tx_hash: $('#tx_hash').val(),
                    account_type: $('#account_type').val()
                };
                return param;
            },
            onLoadSuccess: function (res) {  //加载成功时执行
                if (111 == res.code) {
                    window.location.reload();
                }
                layer.msg("加载成功", {time: 1000});
            },
            onLoadError: function () {  //加载失败时执行
                layer.msg("加载数据失败");
            }
        });
    }

    $(document).ready(function () {
        //调用函数，初始化表格
        initTable();

        //当点击查询按钮的时候执行
        $("#search").bind("click", initTable);

    });


    function start(id) {
        layer.confirm('确认审核此交易?', {icon: 3, title: '提示'}, function (index) {
            //do something
            $.getJSON("{:url('Coin/start')}", {'id': id}, function (res) {
                if (1 == res.code) {
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function () {
                        initTable();
                    });
                } else if (111 == res.code) {
                    window.location.reload();
                } else {
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });

            layer.close(index);
        })

    }

    function back(id) {
        layer.confirm('确认退回此交易?', {icon: 3, title: '提示'}, function (index) {
            //do something
            $.getJSON("{:url('Coin/back')}", {'id': id}, function (res) {
                if (1 == res.code) {
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function () {
                        initTable();
                    });
                } else if (111 == res.code) {
                    window.location.reload();
                } else {
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });

            layer.close(index);
        })

    }

    function restart(id) {
        layer.confirm('确认重新打币?', {icon: 3, title: '提示'}, function (index) {
            //do something
            $.getJSON("{:url('Coin/restart')}", {'id': id}, function (res) {
                if (1 == res.code) {
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function () {
                        initTable();
                    });
                } else if (111 == res.code) {
                    window.location.reload();
                } else {
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });

            layer.close(index);
        })

    }

    function manual(id) {

        layui.use('layer', function () {
            box = layer.open({
                type: 1,
                title: '[' + id + ']手工到账',
                anim: 2,
                skin: 'layui-layer-molv', //加上边框
                area: ['620px', 'auto'], //宽高
                content: $('#node_box')
            });
            $("#id").val(id);
        });

        // layer.confirm('确认重新打币?', {icon: 3, title: '提示'}, function (index) {
        //     //do something
        //     $.getJSON("{:url('Coin/restart')}", {'id': id}, function (res) {
        //         if (1 == res.code) {
        //             layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function () {
        //                 initTable();
        //             });
        //         } else if (111 == res.code) {
        //             window.location.reload();
        //         } else {
        //             layer.alert(res.msg, {title: '友情提示', icon: 2});
        //         }
        //     });
        //
        //     layer.close(index);
        // })

    }

    // 添加节点
    var options = {
        beforeSubmit: showStart,
        success: showSuccess
    };

    $('#addForm').submit(function () {
        var _t = $(this);
        layer.confirm('确认手动打币?', {icon: 3, title: '提示'}, function (index) {
            _t.ajaxSubmit(options);
            layer.close(index);
        });
        return false;
    });
    var index;

    function showStart() {
        index = layer.load(0, {shade: false});
        return true;
    }


    function showSuccess(res) {
        layui.use('layer', function () {
            var layer = layui.layer;

            layer.ready(function () {
                layer.close(index);
                layer.close(box);
                if (1 == res.code) {
                    $('#txid').val('');
                    $('#id').val('');
                    initTable();
                } else if (111 == res.code) {
                    window.location.reload();
                } else {
                    layer.alert(res.msg, {icon: 2});
                }
            });
        });
    }
</script>
</body>
</html>
